/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url("/images/bgtile.png");
  height: 500px;
}

.main {
  display: flex;
  border: 1px solid red;
  
}

.main-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
}

.logo-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

.logo-login > img {
  height: 75%;
}
.login-button {
  color: white;
  font-weight: bolder;
  border-radius: 3px;
  width: 100px;
  box-shadow: 3px 3px 3px #06365f;
  background-image: linear-gradient(#3f7aa7 60%, #06365f 95%);
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  align-items: center;
}

.login-button > img {
  height: 20px;
}

.info {
  background-color: white;
  border: 1px solid red;
}


.footer ul {
  width: fit-content;
  margin: auto;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  border: 3px solid green;
}

.footer li {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px;
  display: flex;
}

.footer #copy-right {
  font-weight: lighter;
}